/*

home page stylesheet
author zdxue

*/
body{
margin:0;
padding:0;
font-family:Arial;
	
}
a:link{
	color:#666;
	text-decoration: none;	
}
a:hover{
	color:#aaa;
	text-decoration: underline;	
}
.mainDiv{
   	margin-left:100px;
	background-color:black;
	width:1200px;
}


.topDiv{
	background-color:#78B4F0;
	width:1200px;
	height:100px;
	float:left;
}
.topDiv h2{
	font-size:26px;
	color:#eee;
	font-weight:bold;	
	padding-left:20px;
}

.leftDiv{
	background-color:#D0DEE9;
	width:900px;
	height:800px;
	float:left;
}
.main_Div{
	background-color:#D0DEE9;
	width:1200px;
	height:800px;
}

.rightDiv{
	background-color:#D0DEE9;
	/*border-left: 1px solid white;*/
	width:300px;
	height:800px;
	float:left;
}

.footDiv{
	background-color:#78B4F0;
	width:1200px;
	height:50px;
	float:left;
}

.loginDiv{
	background-color:#D0DEE9;
	margin-top:50px;
	margin-left:10px;
	width:280px;
	height:150px;
}

.username_clz{
	margin-top:20px;
	margin-left:20px;
	width:160px;
	height:21px;
}

.password_clz{
	margin-top:10px;
	margin-left:20px;
	width:160px;
	height:21px;
}

.login_btn{
	margin-top:10px;
	margin-left:30px;
	width:80px;
	height:26px;
}

.register_btn{
	margin-top:10px;
	margin-left:15px;
	width:80px;
	height:26px;
}

.search_div{
	background-color:#D0DEE9;
	margin-top:50px;
	margin-left:150px;
	width:600px;
	height:50px;
}

.resultset_div{
	background-color:white;
	margin-top:10px;
	margin-left:50px;
	width:800px;
	height:600px;
}

.pagination_div{
	background-color:white;
	margin-top:10px;
	margin-left:140px;
	width:600px;
	height:20px;
}

.file_size_select{
	margin-top:15px;
	margin-left:10px;
	width:160px;
	height:26px;
}

.file_range_select{
	margin-top:15px;
	margin-left:5px;
	width:160px;
	height:26px;
}

.file_name_ipt{
	margin-top:15px;
	margin-left:5px;
	width:120px;
	height:22px;
}

.search_btn{
	margin-top:15px;
	margin-left:5px;
	width:80px;
	height:26px;
}

.errorMsgDiv{
	margin-top:20px;
	margin-left:20px;
	background-color:#D2B4F0;
	width:240px;
	height:22px;
	line-height: 22px;
	text-align: center;
}

.loadingImage {
	width: 795px;
	height: 500px;
	overflow: hidden;
	position: relative;
	display: table-cell;
	text-align: center;
	vertical-align: middle
}

.loadingImage p {
	position: static; +
	position: absolute;
	top: 50%
}

.loadingImage img {
	position: static; +
	position: relative;
	top: -50%;
	left: -50%;
}

.errorTimeout {
	color:red;
	width: 795px;
	height: 500px;
	overflow: hidden;
	position: relative;
	display: table-cell;
	text-align: center;
	vertical-align: middle
}

.pagination {
	margin: 0 0 5px;
	text-align: right;
}