<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<display-name>jcaptcha</display-name>
		<servlet-name>jcaptcha</servlet-name>
		<servlet-class>com.ufinity.marchant.ubank.captcha.ImageCaptchaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jcaptcha</servlet-name>
		<url-pattern>/jcaptcha</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.ufinity.marchant.ubank.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>regServlet</servlet-name>
		<servlet-class>com.ufinity.marchant.ubank.servlet.RegServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/portal/home.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/portal/login.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/portal/logout.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>regServlet</servlet-name>
		<url-pattern>/portal/register.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>folderServlet</servlet-name>
		<servlet-class>com.ufinity.marchant.ubank.servlet.FolderServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>folderServlet</servlet-name>
		<url-pattern>/portal/showTree.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>folderServlet</servlet-name>
		<url-pattern>/portal/showFolderContent.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>folderServlet</servlet-name>
		<url-pattern>/portal/addFolder.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>folderServlet</servlet-name>
		<url-pattern>/portal/delFolderOrFile.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>folderServlet</servlet-name>
		<url-pattern>/portal/shareFolder.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>folderServlet</servlet-name>
		<url-pattern>/portal/rename.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>folderServlet</servlet-name>
		<url-pattern>/portal/moveTo.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>folderServlet</servlet-name>
		<url-pattern>/portal/copyTo.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>folderServlet</servlet-name>
		<url-pattern>/portal/cancelShare.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>searchServlet</servlet-name>
		<servlet-class>com.ufinity.marchant.ubank.servlet.SearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownLoadServlet</servlet-name>
		<servlet-class>com.ufinity.marchant.ubank.servlet.DownLoadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchServlet</servlet-name>
		<url-pattern>/portal/search.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownLoadServlet</servlet-name>
		<url-pattern>/portal/download.do</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownLoadServlet</servlet-name>
        <url-pattern>/portal/showDownload.do</url-pattern>
    </servlet-mapping>
	<servlet>
		<servlet-name>fileUploadServlet</servlet-name>
		<servlet-class>com.ufinity.marchant.ubank.servlet.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fileUploadServlet</servlet-name>
		<url-pattern>/portal/upload.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fileUploadServlet</servlet-name>
		<url-pattern>/portal/getInfo.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fileUploadServlet</servlet-name>
		<url-pattern>/portal/continueUpload.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fileUploadServlet</servlet-name>
		<url-pattern>/portal/pause.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fileUploadServlet</servlet-name>
		<url-pattern>/portal/setCurrentFolder.do</url-pattern>
	</servlet-mapping>


	<filter>
		<filter-name>charsetFilter</filter-name>
		<filter-class>com.ufinity.marchant.ubank.filter.CharsetFilter</filter-class>
		<init-param>
			<param-name>enable</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>encode</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>charsetFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>i18nFilter</filter-name>
		<filter-class>com.ufinity.marchant.ubank.filter.I18nFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>i18nFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
    <filter>
      <filter-name>securityFilter</filter-name>
      <filter-class>com.ufinity.marchant.ubank.filter.SecurityFilter</filter-class>
      <init-param>
        <param-name>needCheckedPaths</param-name>
        <param-value>.jsp , .do</param-value>
      </init-param>
      <init-param>
        <param-name>exceptPaths</param-name>
        <param-value>login.jsp , login.do , register.jsp , register.do , logout.do</param-value>
      </init-param>
    </filter>
    <filter-mapping>
      <filter-name>securityFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/common/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/common/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/common/500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/common/500.jsp</location>
	</error-page>
    <error-page>
      <exception-type>com.ufinity.marchant.ubank.exception.NoAuthorizationException</exception-type>
      <location>/portal/login.jsp</location>
    </error-page>

</web-app>
